@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Quicksand';
  src: url('../public/static/fonts/Quicksand-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../public/static/fonts/Quicksand-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../public/static/fonts/Quicksand-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../public/static/fonts/Quicksand-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../public/static/fonts/Quicksand-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-500: #353637;
  --primary-900: #111314;
  --secondary-500: #feb098;
  --secondary-900: #ff7a52;
  --tertiary-500: #0256db;
  --tertiary-900: #0063ff;
  --gray-100: #f0f2f5;
  --gray-200: #ced0d4;
  --gray-700: #5b6066;
  --gray-800: #2b3138;
  --scrollbar: #d6dee1;
  --scrollbar-hover: #a8bbbf;

  --ratio: 1.25;

  --lh-tight: 1.25;
  --lh-base: 1.4;

  --fs-xs: calc(0.75rem / var(--ratio));
  --fs-sm: calc(0.875rem / var(--ratio));
  --fs-base: calc(1rem / var(--ratio));
  --fs-lg: calc(1.125rem / var(--ratio));
  --fs-xl: calc(1.25rem / var(--ratio));
  --fs-2xl: calc(1.5rem / var(--ratio));
  --fs-3xl: calc(1.875rem / var(--ratio));
  --fs-4xl: calc(2.25rem / var(--ratio));
  --fs-5xl: calc(3rem / var(--ratio));

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --ff-quicksand: 'Quicksand', sans-serif;

  --z-negative: -1;
  --z-elevate: 1;
  --z-sticky: 100;
  --z-drawer: 200;
  --z-dropdown: 400;
  --z-modal: 500;
  --z-popover: 500;

  --header-height: 100px;
}

body {
  min-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--ff-quicksand);
  font-weight: var(--fw-medium);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
}

body > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 100vw;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

main {
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 12px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}

/* Remove annoying div element, dont know where it came from */
#__next-build-watcher {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  user-select: none !important;
  pointer-events: none !important;
}

@media screen and (min-width: 968px) {
  :root {
    --ratio: 1;
  }
}
